/*-------------------------------
			STYLE
-------------------------------*/

a {
	color: #009fe3;
}

footer a {
	color: #fff;
}

footer {
	padding: 30px 0;
    background: #06A6E4;
    color: #fff
}

#contiene > h3 {
	color: #555;
	text-align: center;
}

.text-center {
	text-align: center;
}

<<<<<<< HEAD
.description {
	color: #555;
}

.section-found {
	padding: 60px 0;
	background: #f5f5f5;
	margin-top: 60px
}

.content {
	margin: 35px 0px;
    padding:0px 50px 0px 0px;
}

.tarjet {
	margin: 60px 0 0;
	padding: 10px;
}

.img-map {
	width: 100%;
	border-radius: 4px;
}

.content-info {
	padding: 0 75px;
	color: #555;
}

.navbar-inverse {
    background-color: #f5f5f5;
    border-color: #EAEAEA;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #009fe3;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #009fe3;
}

.navbar-inverse {
	height: 100px;
}

.logo {
	width: 80%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
    padding: 40px 20px;
}

.img-dog {
	width: 100%;
}

.text-primary {
	padding: 20px 0;
}


@media (min-width: 768px) and (max-width: 1024px) {
	.navbar-nav {
		margin-top: -45px;
	}

	.description  h3 {
		font-size: 16px;
	}

	.description  h4 {
		font-size: 16px;
	}

	.description p {
		font-size: 16px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	    border-color: #ccc;
	    background: #f5f5f5;
	    margin-top: 15px;
	}

		.navbar-inverse .navbar-nav > li > a {
	    color: #9D9D9D;
	    padding: 10px 20px;
	}

	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	    background-color: transparent;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.logo {
		width: 200px;
	}

	.navbar-inverse .navbar-nav > li > a {
	    color: #9D9D9D;
	    padding: 10px 20px;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	    border-color: #ccc;
	    background: #f5f5f5;
	    margin-top: 15px;
	}

	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	    background-color: #00A2E2;
	}

	.navbar-inverse .navbar-toggle .icon-bar {
    	background-color: transparent;
	}


	.navbar-inverse .navbar-toggle {
	    border-color: transparent;
	    margin-top: 25px;
	}

	.content {
	    margin: 35px 0px;
	    padding: 0;
	}

	.content-info {
	    padding: 0 30px;
	    color: #555;
	}
}